<h1 class="text-3xl">{{ .computer.CN }} ({{ .computer.SAMAccountName }})</h1>
<p class="text-sm text-gray-500">{{ .computer.DN }}</p>

<p class="mt-4">Operating system: {{ .computer.OS }}</p>
<p>Operating system version: {{ .computer.OSVersion }}</p>

<h2 class="mt-4 text-xl">Groups:</h2>
<div class="flex flex-col justify-between divide-y divide-gray-600">
  {{ range .computer.Groups }}
    <div class="flex items-center transition-colors list-outer-hocus:bg-gray-700/50">
      <a
        href="/groups/{{ .DN }}"
        class="flex w-full items-center gap-2 py-2 pl-3 transition-transform focus:outline-none hocus:translate-x-2 [&>svg]:text-gray-500 [&>svg]:hocus:text-white"
        title="{{ .DN }}"
      >
        <span>{{ .CN }}</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          class="inline-block transition-colors"
        >
          <path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6l-6 6Z" />
        </svg>
      </a>
    </div>
  {{ end }}
</div>

{{ if not .computer.Groups }}
  <p class="text-gray-500">No groups</p>
{{ end }}
