<h1 class="text-3xl">{{ .group.CN }}</h1>
<p class="mb-4 text-sm text-gray-500">{{ .group.DN }}</p>

<h2 class="text-xl">Members:</h2>
<div class="flex flex-col justify-between divide-y divide-gray-600">
  {{ range .group.Members }}
    <a
      href="/users/{{ .DN }}"
      class="block py-2 [&:hover>svg]:translate-x-2 [&>svg]:text-gray-500 [&>svg]:hover:text-white"
    >
      <span title="{{ .DN }}">{{ .CN }} ({{ .SAMAccountName }})</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        class="inline-block transition-[color_transform]"
      >
        <path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6l-6 6Z" />
      </svg>
    </a>
  {{ end }}
</div>

{{ if not .group.Members }}
  <p class="text-gray-500">No members</p>
{{ end }}
