{{ define "code" }}
  <span
    class="overflow-hidden overflow-ellipsis whitespace-break-spaces break-words rounded-md bg-gray-900 px-1 py-[2px] font-mono"
    >{{ . }}</span
  >
{{ end }}


<h1 class="mb-4 text-3xl">Hi {{ .user.CN }}!</h1>

<h2 class="mb-2 text-xl">Your user information</h2>
<div class="rounded-md border border-gray-600 px-4 py-3">
  <p>CN: {{ template "code" .user.CN }}</p>
  <p>DN: {{ template "code" .user.DN }}</p>
  <p>sAMAccountName: {{ template "code" .user.SAMAccountName }}</p>
</div>
