<form class="space-y-4 rounded-md border border-gray-600 p-8" action="/login" method="get">
  {{ if len .flashes }}
    <div class="mb-4">
      {{ range .flashes }}
        <div class="{{ .BorderColor }} rounded-md border p-4 py-3">{{ .Message }}</div>
      {{ end }}
    </div>
  {{ end }}


  <div>
    <input
      type="text"
      name="username"
      placeholder="Username"
      class="form-input w-full rounded-md border border-gray-600 bg-black px-2 py-1 outline-none transition-colors placeholder:select-none focus:border-white hocus:ring-0"
    />
  </div>

  <div>
    <input
      type="password"
      name="password"
      placeholder="Password"
      class="form-input w-full rounded-md border border-gray-600 bg-black px-2 py-1 outline-none transition-colors placeholder:select-none focus:border-white hocus:ring-0"
    />
  </div>

  <button
    type="submit"
    class="w-full rounded-md border border-white bg-white px-3 py-1 font-bold text-black outline-none transition-colors hocus:bg-opacity-0 hocus:text-white disabled:hocus:bg-opacity-10"
  >
    Login
  </button>

  <p class="text-center text-xs text-gray-500">
    Powered by
    <a
      href="https://github.com/netresearch/ldap-manager"
      class="break-keep outline-none transition-colors hocus:text-white hocus:underline hocus:decoration-white"
    >
      netresearch/ldap-manager
    </a>
  </p>
</form>
